@{
    ViewBag.Title = "Kontakt";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefon</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>999.999.999</span>
    </p>
   
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Admin:</span>
        <span><a href="mailto:marcin.mazurowski@o2.pl">marcin.mazurowski@o2.pl</a></span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Adres</h3>
    </header>
    <p>
        Polska<br />
        Płock, 09-400
      </p>
</section>